<div class="container-fluid" *ngIf="isLoaded; else isError">
  <!--Heading-->
  <div class="row">
    <div class="col-md-2 offset-md-5">
      <h1>Favourite Items</h1>
    </div>
  </div>
  <!-- Favourite Items-->
  <div class="row">
    <div class="col-md-4" *ngFor="let keys of favouriteList">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar>
            <img mat-card-avatar src="{{keys.image_url}}">
          </div>
          <mat-card-title>{{keys.name}}</mat-card-title>
          <mat-card-subtitle>{{keys.tagline}}</mat-card-subtitle>
          <div class="like-dislike">
            <img src="assets/images/like.svg" width="20" height="20">
          </div>
        </mat-card-header>
        <img class="main-logo" mat-card-image src="{{keys.image_url}}" width="100" height="100" alt="{{keys.tagline}}">
        <mat-card-content>
          <p class="card-content">
            {{keys.description}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<!-- Error Message-->
<ng-template #isError>
  <p id="errorMsg">Nothing has been added to favourite list. Please select one from home.</p>
</ng-template>